.dashboard-container h2{

    top: 80px;
    

   
    color: brown;      /* replaced brown with #FF7900 */
    height: 100px;
    width: 100%;
    font-family: monospace;
    font-weight: 800;
    text-align: center;
    font-size: 2rem;
    
}

.dashboard-container{
    background-color: ivory; /* replaced ivory with #F2CF7E */
    position: inherit;
    min-height: 800px;
}