.qrcode-section{
    background-color: ivory;
    height: auto;
    max-width: 100%;
    position: relative;
    min-height: 800px;
}

.qrcode-section h3{
    font-family: monospace;
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
    color: brown;
    padding: 2rem 3rem;
    margin: 0 auto;
    text-decoration: none;
}

.qrcode-section p{
    font-family: monospace;
    font-size: 25px;
    font-weight: 600;
    text-align: center;
    color: brown;
    
    margin: 0 auto;
    text-decoration: none;

}

.qrcode-section button{
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;

}

.qrcode-section button:hover{
    color: #28a745;
}

#qrimage {
    padding-left: 41%;
    height: 300px;
    padding-top: 14px;
}