.orders-section {
    min-height: 800px;
    background-color: unset;
}

.orders-section h3{
    padding: 2rem 4rem;
    font-family: monospace;
    font-size: 3rem;
    font-weight: 600;
    text-align: center;
    color: brown;
}

.orders-section ul{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 2.1rem;
    text-decoration: none;
}